<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a
    routerLink="/contacts"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Contacts</a
  >
</nav>

<router-outlet></router-outlet>

<p>
  {{ title }}
</p>

<p>
  {{ sayHello("Ka") }}
</p>

<button (click)="handleMyEvent($event)">Click me!</button>

<img [src]="imgSrc" />

<input [(ngModel)]="name" />

<p>{{ name }}</p>
